params.bbtools_version='38.86'
params.curl_version='7.72.0'
params.fastqc_version='0.11.9'
params.trim_galore_version='0.6.5'
params.samtools_version='1.10'
params.multiqc_version='1.9'
params.awk_version='' + awk_version
params.bedtools_version='2.29.2'
params.basespace_version='1.2.1'
params.r_tnseq_version='1.0.0'

process {
  withName:run_bbduk {
    container = 'docker://bschiffthaler/bbtools:' + params.bbtools_version
  }

  withName:run_bbmap_alignment {
    container = 'docker://bschiffthaler/bbtools:' + params.bbtools_version
  }

  withName:download_genome {
    container = 'docker://bschiffthaler/curl:' + params.curl_version
  }

  withName:download_plasmid {
    container = 'docker://bschiffthaler/curl:' + params.curl_version
  }

  withName:download_annotation {
    container = 'docker://bschiffthaler/curl:' + params.curl_version
  }

  withName:index_genome {
    container = 'docker://bschiffthaler/bbtools:' + params.bbtools_version
  }

  withName:run_fastqc_raw {
    container = 'docker://bschiffthaler/fastqc:' + params.fastqc_version
  }

  withName:run_fastqc_trimmed {
    container = 'docker://bschiffthaler/fastqc:' + params.fastqc_version
  }

  withName:run_fastqc_decontaminated {
    container = 'docker://bschiffthaler/fastqc:' + params.fastqc_version
  }

  withName:detect_genome_ta_sites {
    container = 'docker://bschiffthaler/fastxio'
  }

  withName:run_trim_galore {
    container = 'docker://bschiffthaler/trim-galore:' + params.trim_galore_version
  }

  withName:run_samtools_sam_to_bam {
    container = 'docker://bschiffthaler/samtools:' + params.samtools_version
  }

  withName:run_multiqc {
    container = 'docker://bschiffthaler/multiqc:' + params.multiqc_version
  }

  withName:filter_ta_sites_outside_genes {
    container = 'docker://bschiffthaler/awk:' + params.awk_version
  }

  withName:overlap_ta_sites_and_genes {
    container = 'docker://bschiffthaler/bedtools:' + params.bedtools_version
  }

  withName:filter_ta_sites_outside_genes {
    container = 'docker://bschiffthaler/awk:' + params.awk_version
  }

  withName:get_samples {
    container = 'docker://bschiffthaler/basespace:' + params.basespace_version
  }

  withName:generate_saf {
    container = 'docker://bschiffthaler/samtools:' + params.samtools_version
  }

  withName:run_r_analysis {
    container = 'docker://bschiffthaler/r-tnseq:' + params.r_tnseq_version
  }

}

singularity {
  enabled = true
}
