process {
  withName:bbduk {
    container = 'docker://bschiffthaler/bbtools:38.86'
  }

  withName:bbmap {
    container = 'docker://bschiffthaler/bbtools:38.86'
  }

  withName:genome_download {
    container = 'docker://bschiffthaler/curl:7.72.0'
  }

  withName:plasmid_download {
    container = 'docker://bschiffthaler/curl:7.72.0'
  }

  withName:annotation_download {
    container = 'docker://bschiffthaler/curl:7.72.0'
  }

  withName:genome_index {
    container = 'docker://bschiffthaler/bbtools:38.86'
  }

  withName:fastqc1 {
    container = 'docker://bschiffthaler/fastqc:0.11.9'
  }

  withName:fastqc2 {
    container = 'docker://bschiffthaler/fastqc:0.11.9'
  }

  withName:fastqc3 {
    container = 'docker://bschiffthaler/fastqc:0.11.9'
  }

  withName:tasites {
    container = 'docker://bschiffthaler/fastxio'
  }

  withName:trim_galore {
    container = 'docker://bschiffthaler/trim-galore:0.6.5'
  }

  withName:samtools {
    container = 'docker://bschiffthaler/samtools:1.10'
  }

  withName:multiqc {
    container = 'docker://bschiffthaler/multiqc:1.9'
  }

  withName:filter_ta {
    container = 'docker://bschiffthaler/awk:5.1.0-r0'
  }

  withName:overlap_ta {
    container = 'docker://bschiffthaler/bedtools:2.29.2'
  }

  withName:filter_ta {
    container = 'docker://bschiffthaler/awk:5.1.0-r0'
  }

  withName:get_samples {
    container = 'docker://bschiffthaler/basespace:1.2.1'
  }

}

singularity {
  enabled = true
}
